@page "/Motorcycle/Add"
@using MotoSerwis.Components.Account.Shared.Enums
@attribute [StreamRendering]

@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Identity
@using MotoSerwis.Components.Account.Shared.Extensions
@using MotoSerwis.Data

<h1>Formularz zgłoszenia motocykla</h1>
<div class="row">
    <div class="col-md-4">
        <EditForm Model="Input" method="post" OnValidSubmit="FormSubmit" FormName="addMotorcycle">
            <StatusMessage Message="@errorMessage" />
            <DataAnnotationsValidator />
            <hr />
            <ValidationSummary class="text-danger" role="alert" />
            <div class="form-floating mb-3">
                <InputText @bind-Value="Input.Make" class="form-control" aria-required="true" placeholder="Honda" />
                <label for="make" class="form-label">Marka</label>
                <ValidationMessage For="() => Input.Make" class="text-danger" />
            </div>
            <div class="form-floating mb-3">
                <InputText @bind-Value="Input.Model" class="form-control" aria-required="true" placeholder="Hornet" />
                <label for="model" class="form-label">Model</label>
                <ValidationMessage For="() => Input.Model" class="text-danger" />
            </div>
            <div class="form-floating mb-3">
                <InputNumber @bind-Value="Input.YearOfManufacture" class="form-control" aria-required="true" placeholder="2025" />
                <label for="YearOfManufacture" class="form-label">Rok produkcji</label>
                <ValidationMessage For="() => Input.YearOfManufacture" class="text-danger" />
            </div>
            <div class="form-floating mb-3">
                <InputTextArea @bind-Value="Input.IssueDescription" class="form-control" id="IssueDescription" placeholder="Opisz problem" />
                <label for="IssueDescription" class="form-label">Opis problemu</label>
                <ValidationMessage For="() => Input.IssueDescription" class="text-danger" />
            </div>
            <div class="form-floating mb-3">
                <InputSelect @bind-Value="Input.Status" class="form-select" id="status">
                    @foreach (MotorcycleServiceStatus status in Enum.GetValues(typeof(MotorcycleServiceStatus)))
                    {
                        <option value="@status">@status.GetDisplayName()</option>
                    }
                </InputSelect>
            </div>
            <div>
                <button type="submit" class="w-100 btn btn-lg btn-primary">Dodaj</button>
            </div>
        </EditForm>
    </div>
</div>

@code {
    private string? errorMessage;

    [SupplyParameterFromForm]
    private MotorcycleInputModel Input { get; set; } = new();

    public async Task FormSubmit()
    {
        // TODO: Add to db
    }

    private class MotorcycleInputModel
    {
        public string Make { get; set; }
        public string Model { get; set; }
        public int YearOfManufacture { get; set; }
        public string IssueDescription { get; set; }
        public MotorcycleServiceStatus Status { get; set; }
    }
}
